@page "/"

@if (showSpinner)
{
    <div class="sb-content-overlay">
        <div class="sb-loading">
            <svg class="circular" height="40" width="40">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <style>
        #main-page {
            pointer-events: none;
            cursor: auto;
        }
    </style>
}

<div class="control-section dashboard-page">
    <div>
        <ResultCards></ResultCards>
    </div>
    <CandleChart ChartLoaded="@(args => { showSpinner = false; StateHasChanged(); })"></CandleChart>
    <div>
        <div>
            <div class="line-chart-area">
                <BalanceChart></BalanceChart>
            </div>
            <div class="column-chart-area">
                <OrdersChart></OrdersChart>
            </div>
        </div>
        <OrdersGrid></OrdersGrid>
    </div>
</div>

@code{
    [CascadingParameter]
    private TradeResultDataService TradeResultDataService { get; set; }

    private bool showSpinner = true;
}

<style>
    #main-page {
        overflow-x: hidden;
        background: linear-gradient(-141deg, #EEF5F7 14%, #EEF2FB 100%);
    }

    .sidebar-Rightpane {
        padding-bottom: 18px;
        margin-right: -2px;
    }
</style>