@page "/"

<div class="control-section dashboard-page">
    <div>
        <ResultCards></ResultCards>
    </div>
    <CandleChart></CandleChart>
    <div>
        <div>
            <div class="line-chart-area">
                <BalanceChart></BalanceChart>
            </div>
            <div class="column-chart-area">
                <OrdersChart></OrdersChart>
            </div>
        </div>
        <OrdersGrid></OrdersGrid>
    </div>
</div>

@code{
    [CascadingParameter]
    private TradeResultDataService TradeResultDataService { get; set; }
}

<style>
    #main-page {
        overflow-x: hidden;
        background: linear-gradient(-141deg, #EEF5F7 14%, #EEF2FB 100%);
    }

    .sidebar-Rightpane {
        padding-bottom: 18px;
        margin-right: -2px;
    }
</style>